<div class="container">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div class="aulas-titulo-container">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="aulas-icone">auto_stories
            </mat-icon>
            <div class="aulas-titulo">Aulas</div>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>ID da aula</mat-label>
            <input  matInput placeholder="ID da aula" style="width: 336px;" [(ngModel)]="selectedId"/>
        </mat-form-field>
    </div>

    <p class="subtitulo">
        Lista de aulas
    </p>

    <ul>
        <li *ngFor="let aula of aulas | filter:selectedId" style="list-style-type: none; margin-bottom: 20px;">
            <div style="display: flex; align-items: center;">
                <div>
                    <span class="nomeAula">{{ aula.nomeAula }}</span>
                    <br>

                    <div class="informacoes">
                        Activities: <span *ngFor="let atividade of aula.atividades; let isLast = last">{{
                            atividade.nomeAtividade }}{{ isLast ? '' : ', ' }}</span>
                    </div>

                    <div class="informacoes">
                        Courses: <span *ngFor="let atividade of aula.cursos; let isLast = last">{{ atividade.nomeCurso
                            }}{{
                            isLast ? '' : ', ' }}</span>
                    </div>

                    <div class="informacoes">
                        Room: {{ aula.sala }}
                    </div>
                </div>

                <a [routerLink]="['/editar-aula']"
                [queryParams]="{nomeAula: aula.nomeAula, atividades: [aula.atividades[0].nomeAtividade, aula.atividades[1].nomeAtividade, aula.atividades[2].nomeAtividade], cursos: [aula.cursos[0].nomeCurso, aula.cursos[1].nomeCurso, aula.cursos[2].nomeCurso], sala: aula.sala}">
                <img src="assets/editar.png">
                </a>

                <a href="/listagem-aulas">
                    <img src="assets/excluir.png">
                </a>

            </div>
        </li>
    </ul>

    <section>
        <button mat-raised-button class="button-aula" [routerLink] = "['/cadastrar-aula']" >Cadastrar</button>
      </section>

</div>