<h1>Currículo: {{curricula.name}}</h1>

<mat-list>
  <mat-list-item *ngFor="let skill of skills" id="{{skill.id}}" style="height: fit-content; padding: 10px;">
    <mat-card>
      <mat-card-header [routerLink]="['/curricula', 'skill', skill.id]">
        <mat-card-title>{{skill.description}}</mat-card-title>
        <mat-card-subtitle>{{skill.type == 'hard' ? "Hard" : "Soft"}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button [routerLink]="['/curricula', 'edit-skill', skill.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="delete(skill.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-list-item>
</mat-list>

<div>
  <button class="float" style="right: 110px;" mat-raised-button (click)="navigateToCreateSkill()">
    Adicionar skill
  </button>

  <button class="float" mat-raised-button (click)="navigateToEdit()">
    Editar
  </button>
</div>
