.students-title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
}

.students-icon {
  color: orange;
  font-size: 35px;
  margin-right: 1rem;
}

.students-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.students-table-container {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
