<div class="container">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div class="aulas-titulo-container">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="aulas-icone">auto_stories
            </mat-icon>
            <div class="aulas-titulo">Atividade</div>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>ID da atividade</mat-label>
            <input matInput placeholder="ID da atividade" style="width: 336px;" [(ngModel)]="selectedId" />
        </mat-form-field>
    </div>

    <p class="subtitulo">
        Lista de atividades
    </p>

    <ul>
        <li *ngFor="let atividade of atividades | filter:selectedId" style="list-style-type: none; margin-bottom: 20px;">
            <div style="display: flex; align-items: center;">
                <div>
                    <span class="nomeAula">{{ atividade.nomeAtividade }}</span> - <span class="nomeAula">{{
                        atividade.idDaAula }}</span>

                    <br>

                    <div class="informacoes">
                        Description: <span>{{atividade.descricao}}</span>
                    </div>

                    <div class="informacoes">
                        Final Date: <span>{{atividade.finalDate}}</span>
                    </div>

                    <div class="informacoes">
                        Grade: <span>{{atividade.grade}}</span> - Status: <span>{{atividade.status}}</span>
                    </div>


                </div>

                <a [routerLink]="['/editar-atividade']"
                [queryParams]="{lessonID: atividade.idDaAula, name:atividade.nomeAtividade, description: atividade.descricao, grade: atividade.grade, finalDate: atividade.finalDate, status: atividade.status}">
                <img src="assets/editar.png">
                </a>

                <a href="/listagem-aulas">
                    <img src="assets/excluir.png">
                </a>

            </div>
        </li>
    </ul>
    <section>
        <button mat-raised-button class="button-aula" [routerLink] = "['/cadastrar-atividade']" >Cadastrar</button>
      </section>
</div>