<h1>Skill</h1>

<table>
  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="skill.description">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tipo</mat-label>
        <mat-select [(ngModel)]="skill.type" name="tipo">
          <mat-option value="hard">
            Hard
          </mat-option>
          <mat-option value="soft">
            Soft
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
</table>

<button mat-raised-button class="float" (click)="save()">
  Salvar
</button>
