.container {
  width: 100vw;
  height: 100vh;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.form {
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 120px;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.);
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.mat-button{
  background-color: green;
  color: white;
}

.mat-button:hover{
  filter: brightness(80%);
}


h2 {
  margin-bottom: 50px;
  font-size: 25px;
}
