<div class="container">
  <div class="form">
    <h2>Editar de Edição de Disciplina</h2>
  <mat-form-field appearance="fill">
    <mat-label>Ano</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Semestre</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Estudantes</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <button mat-button color="primary">Editar</button>
  </div>
</div>
