<div class="container">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; flex-direction: row;">
            <img src="../../assets/livro.png" class="logo">

            <p class="titulo">
                Atividades
            </p>
        </div>

        <mat-form-field appearance="fill">
            <input matInput placeholder="ID da atividade" style="width: 336px;" />
        </mat-form-field>
    </div>

    <p class="subtitulo">
        Lista de atividades
    </p>

    <ul>
        <li *ngFor="let atividade of atividades" style="list-style-type: none; margin-bottom: 20px;">
            <div style="display: flex; align-items: center;">
                <div>
                    <span class="nomeAula">{{ atividade.nomeAtividade }}</span> - <span class="nomeAula">{{
                        atividade.idDaAula }}</span>

                    <br>

                    <div class="informacoes">
                        Description: <span>{{atividade.descricao}}</span>
                    </div>

                    <div class="informacoes">
                        Final Date: <span>{{atividade.finalDate}}</span>
                    </div>

                    <div class="informacoes">
                        Grade: <span>{{atividade.grade}}</span> - Status: <span>{{atividade.status}}</span>
                    </div>


                </div>

                <a [routerLink]="['/editar-atividade']"
                [queryParams]="{lessonID: atividade.idDaAula, name:atividade.nomeAtividade, description: atividade.descricao, grade: atividade.grade, finalDate: atividade.finalDate, status: atividade.status}">
                <img src="assets/editar.png">
                </a>

                <a href="/listagem-aulas">
                    <img src="assets/excluir.png">
                </a>

            </div>
        </li>
    </ul>



    <!-- <mat-selection-list #aulas [multiple]="false">
        <mat-list-option *ngFor="let aula of aulas">
        </mat-list-option>
    </mat-selection-list> -->
</div>