<div>
  <div class="meio">

    <div class="wrapper">
      <div>
        <h1 class="title">Criar Edição de Disciplina</h1>
      </div>
      <div class="posicaodiv">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ano</mat-label>
            <input matInput />
          </mat-form-field>
        </form>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Semestre</mat-label>
            <input matInput />
          </mat-form-field>
        </form>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Inscritos</mat-label>
            <input matInput placeholder="Utilizar vírgula. Ex: 12314, 12353" />
          </mat-form-field>
        </form>

      <section>
        <button mat-raised-button class="primary-button_resources" (click)="onClickMenu()">Cancelar</button>
        <button mat-raised-button class="primary-button_resources">Salvar</button>
      </section>
    </div>
  </div>
</div>
