<h1>Skill</h1>

<table>
  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição</mat-label>
        <input matInput readonly [(ngModel)]="skill.description">
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Tipo</mat-label>
        <input matInput readonly value="{{skill.type == 'hard' ? 'Hard' : 'Soft'}}">
      </mat-form-field>
    </td>
  </tr>
</table>

<button mat-raised-button class="float" [routerLink]="['/curricula', 'edit-skill', skill.id]">
  Editar
</button>
