<div class="list-align">
<div class="half-width">
  <span class="title-container">
    <mat-icon aria-hidden="false" aria-label="Buildings icon" class="title-icon">
      domain
    </mat-icon>
    <span class="title">
      Prédios
    </span>
  </span>
  <span class="description-container">
    <span class="description">
      Lista de prédios
    </span>
  </span>

  <mat-nav-list aria-label="Elements">

    <mat-list-item class="list-tile" *ngFor="let item of items" (click)="showBuilding(item)">
      <span matLine class="list-primary-text">Prédio {{item}}</span>
      <span matLine class="list-secondary-text">
        <span matLine>Capacidade máxima: x.</span>
        <span matLine>Tipo: Aula</span>
      </span>
      <button mat-icon-button class="edit-action" (click)="editBuilding(item)">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button class="delete-action" (click)="deleteBuilding($event)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider class="list-divider"></mat-divider>
    </mat-list-item>

  </mat-nav-list>

</div>
</div>

<button class="extended-fab-button" mat-fab color="primary" (click)="createBuilding()">
  <mat-icon>add</mat-icon>
  <span class="extended-fab-button__text">Criar</span>
</button>
