<div class="list-align">
<div class="half-width">
  <span class="title-container">
    <mat-icon aria-hidden="false" aria-label="Buildings icon" class="title-icon">
      domain
    </mat-icon>
    <span class="title">
      Prédios
    </span>
  </span>
  <span class="description-container">
    <span class="description">
      Lista de prédios
    </span>
  </span>

  <mat-nav-list aria-label="Elements">

    <mat-list-item class="list-tile"  *ngFor="let building of buildings" >
      <span (click)="showBuilding(item)" matLine class="list-primary-text">{{building.name}}</span>
        <span (click)="showBuilding(item)" matLine class="list-secondary-text">
        <span (click)="showBuilding(item)" matLine>Capacidade máxima: {{building.capacity}}.</span>
        <span (click)="showBuilding(item)" matLine>Tipo: {{building.type}}</span>
      </span>
      <button mat-icon-button class="edit-action" (click)="editBuilding(item)">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button class="delete-action" (click)="deleteBuilding($event,building.id,building.name)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-divider [inset]="true" class="list-divider"></mat-divider>
    </mat-list-item>

  </mat-nav-list>

</div>
</div>

<button class="extended-fab-button" mat-fab color="primary" (click)="createBuilding()">
  <mat-icon>add</mat-icon>
  <span class="extended-fab-button__text">Criar</span>
</button>
