<div class="questions-container">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill ">
            <mat-label>Titulo da Pergunta</mat-label>
            <input formControlName="title" matInput placeholder="Qual é a pergunta? ">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill ">
            <mat-label>Question</mat-label>
            <input formControlName="title" matInput placeholder="Qual é a pergunta? ">
        </mat-form-field>
    </form>
    <button mat-icon-button class="mat-icon-button" (click)="onDeleted()">
        <mat-icon class="mat-icon-add">delete</mat-icon>
    </button>
</div>