<div>
  <div class="center">

    <div class="wrapper">
      <div>
        <h1 class="title">Editar Reserva</h1>
      </div>
      <div class="posicaodiv">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput />
          </mat-form-field>
        </form>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>ID da lição</mat-label>
            <input matInput />
          </mat-form-field>
        </form>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Motivo</mat-label>
            <input matInput />
          </mat-form-field>
        </form>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data</mat-label>
            <input matInput />
          </mat-form-field>
        </form>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Horário</mat-label>
            <input matInput />
          </mat-form-field>
        </form>
      </div>

      <section>
        <button routerLink="/resources" mat-raised-button class="primary-button_resources">Cancelar</button>
        <button routerLink="/resources" mat-raised-button class="primary-button_resources">Salvar</button>
      </section>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
