.container {
  width: 100vw;
  height: 100vh;
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center
}

.form {
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 110px;
   border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.);
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.mat-table {
  background-color: #F3F3F3;
  width: 25vw;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
h2{
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

.mat-cell {
  text-align: center;
}


