<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Ano </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>

      <ng-container matColumnDef="semester">
        <th mat-header-cell *matHeaderCellDef> Semestre </th>
        <td mat-cell *matCellDef="let element"> {{element.semester}}</td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Ativo </th>
        <td mat-cell *matCellDef="let element"> {{element.active? 'Sim': 'Não'}}</td>
      </ng-container>

      <ng-container matColumnDef="subscribes">
        <th mat-header-cell *matHeaderCellDef class="tests-collum-size-teste tests-table-title">Inscritos </th>
        <td mat-cell *matCellDef="let element" class="tests-collum-size-teste">
          <mat-icon class="mat-icon-color mg-r" (click)="onClickSubscribes(element.id)">remove_red_eye</mat-icon>
        </td>
    </ng-container>

      <ng-container matColumnDef="Buttons">
        <th mat-header-cell *matHeaderCellDef class="tests-collum-size-teste tests-table-title"> </th>
        <td mat-cell *matCellDef="let element" class="tests-collum-size-teste">
            <mat-icon class="mat-icon-color mg-r" (click)="onClickEdit(element.id)">edit</mat-icon>
            <mat-icon class="mat-icon-color" (click)="onClickDelete(element.id)">delete</mat-icon>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="disciplinas-table-line" (click)="onClickItem(row)"></tr>
    </table>
</div>
