<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  <div>
    <div class="meio">

      <div class="wrapper">
        <div>
          <h1 class="title">Editar Recurso</h1>
        </div>
        <div class="posicaodiv">
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>ID</mat-label>
              <input matInput />
            </mat-form-field>
          </form>

          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput />
            </mat-form-field>
          </form>

          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Tipo</mat-label>
              <input matInput />
            </mat-form-field>
          </form>

          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Descrição</mat-label>
              <input matInput />
            </mat-form-field>
          </form>
        </div>

        <section>
          <button>Cancelar</button>
          <button>Salvar</button>
        </section>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</body>

</html>
